<div class="bg-img"></div>
<div class="zoom-container">
    <div class="pokeindex">
        <div class="pokeindex-left">
            <div class="pokeindex-left__top">
                <div class="circle-big"></div>
                <div class="circle-small"></div>
            </div>
            <div class="pokeindex-left__screen">
                <div class="dots">
                    <span></span>
                    <span></span>
                </div>
                <div id="pokeList" class="screen">

                    <app-pokemon-list class="screen-container" *ngIf="isPowerOn" [pokemons]="pokemons"
                        [isShiny]="isShiny" [isBack]="isBack"
                        (pokemonSelected)="receivePokemon($event)"></app-pokemon-list>

                </div>
                <div class="status">
                    <div *ngIf="pokemonDetail && isPokeSelected" class="status-light-selected"></div>
                    <div *ngIf="!pokemonDetail || !isPokeSelected" class="status-light"></div>
                    <div class="status-sound">
                        <span #soundBar1></span>
                        <span #soundBar2></span>
                        <span #soundBar3></span>
                        <span #soundBar4></span>
                    </div>
                </div>
            </div>
            <div class="pokeindex-left__buttons">
                <div class="buttons">
                    <div *ngIf="!loading" (click)="scrollAll()" class="buttons-circle"
                        style="display: flex; align-items: center; justify-content: center"><i
                            class="fa-solid fa-up-down"></i></div>
                    <div *ngIf="loading" (click)="playNopeSound()" class="buttons-circle"
                        style="display: flex; align-items: center; justify-content: center"><i
                            class="fa-solid fa-up-down"></i></div>
                    <div class="buttons-quad">
                        <span *ngIf="!isPowerOn" (click)="powerOn()"></span>
                        <span *ngIf="isPowerOn" (click)="powerOff()"></span>
                        <span (click)="deselectBtn()"></span>
                    </div>
                </div>
                <div class="controller">
                    <div *ngIf="!isPokeSelected && !loading" (click)="selectPokemon()" class="controller-touch">
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                    <div *ngIf="isPokeSelected || loading" (click)="playNopeSound()" class="controller-touch-clicked">
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                    <div class="controller-joystick">
                        <div *ngIf="!loading" style="height: 5vh; width: 3vh; 
                        margin: 1vh 0 0 2vh; position: absolute;" (click)="scrollTop()">
                        </div>
                        <div *ngIf="!loading" style="height: 5vh; width: 3vh; 
                        margin: -5vh 0 0 2vh; position: absolute;" (click)="scrollDown()">
                        </div>
                        <div *ngIf="loading" (click)="playNopeSound()" style="height: 5vh; width: 3vh; 
                        margin: 1vh 0 0 2vh; position: absolute;">
                        </div>
                        <div *ngIf=" loading" (click)="playNopeSound()" style="height: 5vh; width: 3vh; 
                        margin: -5vh 0 0 2vh; position: absolute;">
                        </div>
                        <div style="height: 3vh; width: 3vh; 
                        margin: -5px; position: absolute; z-index: 2;" *ngIf="isPokeSelected" (click)="backToggle()"
                            (click)="playTicSound()">
                        </div>
                        <div style="height: 3vh; width: 3vh; 
                        margin: -5px; position: absolute; z-index: 2;" *ngIf="!isPokeSelected"
                            (click)="playNopeSound()">
                        </div>
                        <div style="height: 3vh; width: 3vh; 
                        margin: -5px 0 0 4.5vh; position: absolute; z-index: 2;" *ngIf="isPokeSelected"
                            (click)="backToggle()" (click)="playTicSound()">
                        </div>
                        <div style="height: 3vh; width: 3vh; 
                        margin: -5px 0 0 4.5vh; position: absolute; z-index: 2;" *ngIf="!isPokeSelected"
                            (click)="playNopeSound()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pokeindex-middle"></div>
        <div class="pokeindex-right">
            <div class="pokeindex-right__screen">
                <app-pokemon-detail *ngIf="!loading && isPokeSelected && isPowerOn" class="screen-container"
                    [pokemon]="pokemonDetail" [rightScreenPage]="rightScreenPage"></app-pokemon-detail>
                <div *ngIf="!isPokeSelected && isInputNumber && isPowerOn" id="current-number"
                    [ngClass]="{ 'final-number': inputNumber, 'interim-number': !inputNumber }">
                    {{ inputNumber || inputNumberTemp }}
                </div>
                <div *ngIf="!loading && !isPokeSelected && !isInputNumber && isPowerOn" id="displayIdPoke">
                    {{currentIndex + 1}}
                </div>
                <div *ngIf="!loading && isPokeSelected && !isInputNumber && isPowerOn"
                    style="position: absolute; font-size: 17px; bottom: 2px; right: 3px;">
                    {{rightScreenPage}}/5
                </div>
            </div>

            <div *ngIf="loading" class="pokeindex-right__buttons" (click)="playNopeSound()">
                <span style=" display: flex; align-items: center; justify-content: center">1</span>
                <span style="display: flex; align-items: center; justify-content: center">2</span>
                <span style="display: flex; align-items: center; justify-content: center">3</span>
                <span style="display: flex; align-items: center; justify-content: center">4</span>
                <span style="display: flex; align-items: center; justify-content: center">5</span>
                <span style="display: flex; align-items: center; justify-content: center">6</span>
                <span style="display: flex; align-items: center; justify-content: center">7</span>
                <span style="display: flex; align-items: center; justify-content: center">8</span>
                <span style="display: flex; align-items: center; justify-content: center">9</span>
                <span style="display: flex; align-items: center; justify-content: center">0</span>
            </div>
            <div *ngIf="!isPokeSelected && !loading" class="pokeindex-right__buttons">
                <span style="display: flex; align-items: center; justify-content: center"
                    (click)="handleClick($event)">1</span>
                <span style="display: flex; align-items: center; justify-content: center"
                    (click)="handleClick($event)">2</span>
                <span style="display: flex; align-items: center; justify-content: center"
                    (click)="handleClick($event)">3</span>
                <span style="display: flex; align-items: center; justify-content: center"
                    (click)="handleClick($event)">4</span>
                <span style="display: flex; align-items: center; justify-content: center"
                    (click)="handleClick($event)">5</span>
                <span style="display: flex; align-items: center; justify-content: center"
                    (click)="handleClick($event)">6</span>
                <span style="display: flex; align-items: center; justify-content: center"
                    (click)="handleClick($event)">7</span>
                <span style="display: flex; align-items: center; justify-content: center"
                    (click)="handleClick($event)">8</span>
                <span style="display: flex; align-items: center; justify-content: center"
                    (click)="handleClick($event)">9</span>
                <span style="display: flex; align-items: center; justify-content: center"
                    (click)="handleClick($event)">0</span>
            </div>
            <div *ngIf="isPokeSelected && !loading" class=" pokeindex-right__buttons">
                <span style="display: flex; align-items: center; justify-content: center" (click)="rightScreenPage = 1"
                    (click)="playBtnSound()">1</span>
                <span style="display: flex; align-items: center; justify-content: center" (click)="rightScreenPage = 2"
                    (click)="playBtnSound()">2</span>
                <span style="display: flex; align-items: center; justify-content: center" (click)="rightScreenPage = 3"
                    (click)="playBtnSound()">3</span>
                <span style="display: flex; align-items: center; justify-content: center" (click)="rightScreenPage = 4"
                    (click)="playBtnSound()">4</span>
                <span style="display: flex; align-items: center; justify-content: center" (click)="rightScreenPage = 5"
                    (click)="playBtnSound()">5</span>
                <span style="display: flex; align-items: center; justify-content: center"
                    (click)="playNopeSound()">6</span>
                <span style="display: flex; align-items: center; justify-content: center"
                    (click)="playNopeSound()">7</span>
                <span style="display: flex; align-items: center; justify-content: center"
                    (click)="playNopeSound()">8</span>
                <span style="display: flex; align-items: center; justify-content: center"
                    (click)="playNopeSound()">9</span>
                <span style="display: flex; align-items: center; justify-content: center"
                    (click)="playNopeSound()">0</span>
            </div>
            <div class="pokeindex-right__buttons-quadruple">
                <div class="dot">
                    <span></span>
                    <span></span>
                </div>
                <div *ngIf="isPokeSelected" class="button">
                    <span (click)="rightScreenToLeft()"></span>
                    <span (click)=" rightScreenToRight()"></span>
                </div>
                <div *ngIf="!isPokeSelected" class="button">
                    <span (click)="playNopeSound()"></span>
                    <span (click)="playNopeSound()"></span>
                </div>
            </div>
            <div class="pokeindex-right__buttons-triple">
                <div class="button">
                    <span style="display: flex; align-items: center; justify-content: center" *ngIf="isPokeSelected"
                        (click)="playSound()">
                        <i style="color:black; font-size: 15px;" class="fa-solid fa-volume-high"></i>
                    </span>
                    <span (click)="playNopeSound()" style="display: flex; align-items: center; justify-content: center"
                        *ngIf="!isPokeSelected">
                        <i style="color:black; font-size: 15px;" class="fa-solid fa-volume-high"></i>
                    </span>
                    <span *ngIf="isPokeSelected" style="display: flex; align-items: center; justify-content: center"
                        (click)="shinyToggle()" (click)="playTicSound()"><img style="height: 30px;"
                            src="https://cdn-icons-png.flaticon.com/512/6808/6808239.png" alt=""></span>
                    <span (click)="playNopeSound()" *ngIf="!isPokeSelected"
                        style="display: flex; align-items: center; justify-content: center"><img style="height: 30px;"
                            src="https://cdn-icons-png.flaticon.com/512/6808/6808239.png" alt=""></span>
                </div>
                <div *ngIf="!pokemonDetail || !isPokeSelected" class="light"></div>
                <div *ngIf="pokemonDetail && isPokeSelected" class="light-selected"></div>
            </div>
            <div class="pokeindex-right__buttons-double">
                <span><a (click)="playNopeSound()" [routerLink]="['/']">Pokedex</a></span>
                <span><a (click)="playTicSound()" [routerLink]="['/create']">Capture</a></span>
            </div>
        </div>
        <div
            style="position: absolute; width: 100%; height: 100%; color:black; z-index: -1; display: flex; align-items: center; justify-content: center;">
            <p style="margin-top: 720px; margin-left: 10px; background-color: rgba(255, 255, 255, 0.5);">
                Crédits : <br>
                <br>
                &nbsp;&nbsp;&nbsp;Made with <i class="fa-solid fa-heart"></i> by Etienne Pogoda <br>
                <br>
                &nbsp;&nbsp;&nbsp;Design du pokedex : <br>
                &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <a
                    href="https://codepen.io/alinas_view/pen/OJyKgZW">https://codepen.io/alinas_view/pen/OJyKgZW</a><br>
                <br>
                &nbsp;&nbsp;&nbsp;PokeAPI : <br>
                &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<a href="https://pokeapi.co/">https://pokeapi.co/</a>
            </p>
        </div>
    </div>
</div>